

<div ktHeader #ktHeader class="kt-header kt-grid__item" [ngClass]="htmlClassService.getClasses('header', true)" id="kt_header">
	<!-- <ngb-progressbar class="kt-loading-bar" *ngIf="(loader.progress$|async) > 0" [value]="loader.progress$|async" height="3px"></ngb-progressbar>


	<div class="kt-quick-search kt-quick-search--dropdown kt-quick-search--result-compact" id="kt_quick_search_dropdown">
		<form method="get" class="kt-quick-search__form">
			<div class="input-group">
				<div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-search-1"></i></span></div>
				<input #searchInput (keyup)="search($event)" type="text" class="form-control kt-quick-search__input" placeholder="بحث..." />
				<div class="input-group-append"><span class="input-group-text"><i (click)="clear($event)" [ngStyle]="{'display': 'flex'}" [hidden]="!data || !data?.length" class="la la-close kt-quick-search__close"></i></span></div>
			</div>
		</form>
		<div [perfectScrollbar]="{wheelPropagation: false}" [ngStyle]="{'max-height': '40vh', 'position': 'relative'}" class="kt-quick-search__wrapper">
			<kt-search-result [data]="data"></kt-search-result>
		</div>
	</div> -->

</div>

