<!-- begin:: Header Topbar -->
<div class="kt-header__topbar" style="margin-left: 14px;">
	<!--begin: Search -->
	<!-- <kt-setting > <i class="flaticon-cogwheel"></i> </kt-setting> -->
	<!--end: Search -->


	<!--begin: Quick panel toggler -->
	<!-- 
	<div class="kt-header__topbar-item kt-header__topbar-item--quick-panel" data-placement="bottom" ngbTooltip="Quick panel">
		<span class="kt-header__topbar-icon" id="kt_quick_panel_toggler_btn">
			<span class="kt-svg-icon" [inlineSVG]="'./assets/media/icons/svg/Layout/Layout-4-blocks.svg'"></span>
		</span>
	</div>

	-->


</div>
<!-- end:: Header Topbar -->
